/Sesion01/nbproject/private/
/Sesion01/build/
/Sesion2/nbproject/private/
/Sesion02/nbproject/private/
/Sesion02/build/
/Sesion03/nbproject/private/
/Sesion03/build/
/Sesion04/nbproject/private/
/Sesion04/build/
/Sesion04/dist/
/Sesion05/nbproject/private/
/Sesion05/build/
/Sesion05/dist/
/EX 1 y 2/Sesion01/build/
/EX 1 y 2/Sesion01/nbproject/private/
/EX 1 y 2/Sesion02/build/
/EX 1 y 2/Sesion02/nbproject/private/
/EX 1 y 2/Sesion03/build/
/EX 1 y 2/Sesion03/nbproject/private/
/EX 1 y 2/Sesion04/build/
/EX 1 y 2/Sesion04/dist/
/EX 1 y 2/Sesion04/nbproject/private/
/EX 1 y 2/Sesion05/build/
